<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Health Insurance</title>

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />




<link rel="stylesheet" th:href="@{/css/style.css}" />
<style
 type="text/css">
body {
 background: url("../images/underConstruction.png")   no-repeat ;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center center; 
}
</style>
</head>
<body>



</body>
</html>